{% extends "adminlayout.html.twig" %}

{% block title %}Edit an article {% endblock %}

{% block content %}
    <form action="" method="POST" style="display:flex; flex-direction:column;">
        <label for="title">Entrez le titre de l'article</label>
        <input type="text" value="{{ articles.title }}" name="article_title" id="title" placeholder="Entrez le titre de l'article">
        <input type="hidden" value="{{ articles.id }}" name="article_id" id="id">
        <label for="image">Insérez une image</label>
        <input type="text" name="article_image" id="image" placeholder="Insérez une image">
        <label for="date">Entrez la date</label>
        <input type="date" value="{{ articles.date }}" name="article_date" id="date">
        <label for="category">Sélectionnez une catégorie pour cet article</label>
        <select name="article_category" id="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <label for="country">Sélectionnez un pays pour cet article</label>
        <select name="article_country" id="country">
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
        </select>
        <label for="content">Entrez le contenu de l'article</label>
        <textarea rows="10" name="article_content" id="content" placeholder="Entrez le contenu de l'article">{{ articles.content }}</textarea>
        <input type="submit" value="Ajouter">
    </form>
{% endblock %}