{% extends "layout.html.twig" %}

{% block title %}{{ articles.title }}{% endblock %}

{% block content %}
    {% if articles == false %}
        <h2>Cet article n'existe pas !</h2>
        <h4>Il a peut-être été supprimé ou pas encore écrit !</h4>
    {% else %}
        <div class = "articles-list">
            <div class="article-card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ articles.image }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ articles.title }}</h5>
                            <p class="card-text">{{ articles.content }}</p>
                            <p class="card-text"><small class="text-muted">{{ articles.date }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
